<div class="flex flex-row w-full grow items-stretch">
  <div class="flex flex-col p-4 border-2 flex-1 gap-4">
    <textarea
      placeholder="Código Arm"
      class="resize-none border-solid border-black border-2 grow"
      matInput
      [(ngModel)]="code"
    ></textarea>
    <div class="flex flex-row items-center justify-center gap-4">
      <button mat-stroked-button (click)="sendCompile()">Compilar</button>
      <button mat-fab extended (click)="sendNext()">
        <mat-icon>arrow_forward</mat-icon>
        Step
      </button>
    </div>
  </div>
  <div class="flex border-2 p-4 flex-1">
    <span class="font-bold">Registers</span>
  </div>
</div>
