<div class="flex flex-row w-full grow items-stretch">
  <div class="flex flex-col p-4 border-2 flex-1 gap-4">
    <h4 class="font-bold">Código</h4>
    <textarea
      placeholder="Código Arm"
      class="resize-none border-solid border-gray-200 border-2 grow"
      matInput
      [(ngModel)]="code"
    ></textarea>
    <div class="flex flex-row items-center justify-center gap-4">
      <button mat-stroked-button (click)="sendCompile()">Compilar</button>
      <button mat-fab extended (click)="toggleTimer()">
        <mat-icon>arrow_forward</mat-icon>
        Passo periód.
      </button>
      <button mat-fab extended (click)="sendNext()">
        <mat-icon>arrow_forward</mat-icon>
        Passo
      </button>
      <button mat-fab extended (click)="sendRunAll()">
        <mat-icon>arrow_forward</mat-icon>
        Executar
      </button>
    </div>
  </div>
  <div class="flex flex-col gap-2 p-4 flex-1">
    <h4 class="font-bold">Registradores</h4>
    <app-registers [registerValues]="registers"></app-registers>
  </div>
  <div class="flex flex-col gap-2 border-2 p-4 flex-1">
    <h4 class="font-bold">Instrução</h4>
    {{ inst }}
    <br>
    {{ analysisInst() }}
    <br>
    Negativo: {{ cpsr[0] }}
    <br>
    Zero: {{ cpsr[1] }}
    <br>
    Carry: {{ cpsr[2] }}
    <br>
    Overflow: {{ cpsr[3] }}
    <br>
    {{ positions }}
    <div>
      <div *ngFor="let i of labelarray; let index = index; trackBy: trackByFn">
        <input type="text" [(ngModel)]="labelarray[index]" placeholder="rótulo de r{{index}}" >
      </div>
      A cada(ms):<input type="text" [(ngModel)]="timer" placeholder="" >
      <br>
      Ver memória a partir de: <input type="text" [(ngModel)]="mempos" placeholder="" >
    </div>
  </div>
  
</div>
